$bg-color: #e5e5e4;
$orange: #f36f21;
body {
  display: flex;
  margin: 0;
  padding: 0;
  direction: rtl;
  text-align: right;

  background: $bg-color;
  font-family: 'Heebo', sans-serif;

}

.orange {
  color: $orange;
}

.bold {
  font-weight: 600;
}

.line {
  border-bottom: 4px solid $orange;

}

.wrapper {
  background-color: #fff;
}

.top {
  padding: 1rem 6rem 1rem 6rem;

  .logo {
    height: 96px;
    width: 186px;
    //margin-top: -0rem;
  }
  .title {
    font-size: 3.5rem;
    font-weight: 800;
    color: #000;
  }
  .sub-title {
    font-weight: 600;
  }
  @media (max-width: 770px) {
    .logo{
      margin-bottom: 1.5rem;}
  }

  // Средние девайсы («таблетки», < 992px)
  @media (max-width: 991.98px) {
    padding: 1rem;
    .title {
      font-size: 2rem;
    }
    .sub-title {
      font-size: 1rem;
    }
    .logo {
      margin-top: 1rem;
    }
  }

}

.hero {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }
.capcha{
  height: 77px;
  width: 302px;

}
  h2 {
    color: #fff;
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  .send{
    font-size: 1.5rem;
    color: white;
    height: 3rem;
    width: 100%;
    background-size: contain;
    background:transparent url(../img/btn.png) no-repeat;
    :hover{
      background-color: transparent;

    }
  }
  .form-control {
    height: 3rem;
    width: 100%;
    margin-bottom: 2rem;
  }
  padding: 3rem 6rem 3rem 6rem;

  @media (max-width: 1200px) {
    h2 {
      color: #fff;
      margin-top: 0;
      margin-bottom: 1rem;
    }
    .send{
      height: 2.5rem;
      width: 100%;
      background-color: #395e6c;
    }
    .form-control {
      height: 2.5rem;
      width: 100%;
      margin-bottom: 1.2rem;
    }
    background-position: left;

  }
  @media (max-width: 991.98px) {
    h2 {
      font-size: 1.5rem;
    }
    padding: 1rem;
  }
  background-image: url(../img/bg-hero.jpg);
  height: 697px;
  background-size: cover;
  background-position: center;


}

.content {
  padding: 3rem 6rem 3rem 6rem;
  @media (max-width: 991.98px) {
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.2rem;
    }
    padding: 1rem;
  }

}

.title-grid {
  padding: 3rem 6rem 3rem 6rem;
  @media (max-width: 991.98px) {
    h2 {
      font-size: 1.5rem;
    }

    padding: 1rem;
  }

}

.grid {
  .grid-icons{
    height: 103px;
    width: 103px;
  }
  .item .media-body p {
    font-size: 1.8rem;
  }
  @media (max-width: 991.98px) {
    padding: 1rem;
    .item .media-body p {
      font-size: 1.2rem;
    }
  }
  padding: 3rem 6rem 3rem 6rem;
  .item {
    margin-bottom: 2rem;
    img {
      margin-left: 2rem;
    }

  }
}

.about {
  @media (max-width: 991.98px) {
    h2 {
      font-size: 1.5rem;
    }

    padding: 1rem;
  }
.rocket{
  height: 345px;
  width: 583px;
}
  padding-right: 6rem;
  .title-about {
    margin-top: 8rem;
    margin-bottom: 2rem;
    max-width: 35%;
  }
  .text {
    color: #fff;
    font-size: 1.5rem;
  }
  background-image: url(../img/bg-footer.jpg);
  height: 346px;
  background-size: cover;
  @media (max-width: 1200px) {
    .text {
      font-size: 1.2rem;
    }
    .title-about {
      margin-top: 4rem;
      max-width: 50%;
    }
    img {
      display: none;
    }
  }
}

.footer {
  .white{
    height: 105px;
    width: 204px;
  }
  background-color: $orange;
  height: 176px;
  .white {
    margin-left: 6rem;
    margin-top: 2rem;
  }
}

//PAGE THANK YOU


